<!-- @format -->

{% extends "base.html" %} 

{# {% block announce %}
<div style="display: flex; justify-content: space-around; align-items: center">
    <span
        >Register <a href="https://tcat.cs.washington.edu/OTP2026/">here</a> for
        <b>OpenThePaths 2026: <i>Connecting People and Places</i></b
        >, our free annual hybrid conference held this February 26th &
        27th!</span
    >
    <a href="https://tcat.cs.washington.edu/OTP2026/" style="flex-shrink: 0"
        ><img
            src="{{ 'resources/images/events/otp26/banner.png' | url }}"
            alt="OpenThePaths 2026 Connecting People and Places"
            style="
                height: 32px;
                width: auto;
                max-width: none;
                display: block;
                margin: 0;
                padding-left: 1em;
                padding-right: 1em;
                object-fit: contain;
            "
    /></a>
</div>
{% endblock %} #}
