/** @format */

[data-md-color-scheme="slate"] {
    --md-hue: 260;
    /* Link Color (Dark Mode): UW Accent Lavender */
    --md-typeset-a-color: #c5b4e3;
}

[data-md-color-scheme="default"] {
    /* Link Color (Light Mode): UW Husky Purple */
    --md-typeset-a-color: #32006e;
}

:root > * {
    /* Header Color: UW Spirit Purple */
    --md-primary-fg-color: #4b2e83;
    /* Highlight Color: UW Accent Teal */
    --md-accent-fg-color: #2ad2c9;
}
